@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.form-check {
    position: relative;
}

.form-check:after {
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 3px;
    margin: auto;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    display: none;
}

.form-check:checked:after {
    display: block;
}


